{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! Everything inside the #author tags pulls data from the author }}

<div class="listing" role="document">

  <div class="entry">

    {{#author}}

      <section class="author-profile inner">
        {{#if image}}
          <figure class="author-image">
            <div class="img" style="background-image: url({{image}})">
              <span class="hidden">{{name}}'s Picture</span>
            </div>
          </figure>
        {{/if}}
        <h1 class="author-title">{{name}}</h1>
        <div class="author-meta">
          {{#if bio}}
            <p class="lead">{{bio}}</p>
          {{/if}}
          <p class="lead">
            {{#if location}}
              <span class="author-location"><i class="fa fa-map-marker"></i>{{location}}</span>
            {{/if}}
            {{#if website}}
              <span class="author-website"><i class="fa fa-link"></i><a href="{{website}}">{{website}}</a></span>
            {{/if}}
            <span class="author-stats"><i class="fa fa-pencil-square-o"></i>{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
          </p>
        </div>
      </section>

    {{/author}}

    <div class="page-header">
      <h1>Posts {{name}}</h1>
    </div>

    <main class="content" role="main">
      {{> "loop"}}
    </main>

  </div>

</div>
