<!DOCTYPE html>
<html>

<head>
  {{! Document Settings }}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> {{! Page Meta }}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

  {{! Styles'n'Scripts }}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" />

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}

  <meta name="google-site-verification" content="tCAIX9jd9f6DjAJxOBiq4uyaj70X7xy1_tp4K9k2fMQ" />
  <meta name="msvalidate.01" content="F953EC2D63ECEDA0481B432698619A33" />
</head>

<body>
  <div class="masthead">
    <h1 class="masthead-title"><a href="{{@blog.url}}/">{{@blog.title}}</a></h1>
    <p class="masthead-lead">{{@blog.description}}</p>
    <div class="masthead-widgets">
      <hr class="masthead-hr">
      <nav class="sidebar-nav">
        <ul class="masthead-nav">
          {{navigation}}
        </ul>
      </nav>
      <hr class="masthead-hr">
      {{> social-buttons}}
      <hr class="masthead-hr">
      {{> addresses}}
    </div>
  </div>

  {{! Everything else gets inserted here }}
  {{{body}}}

  <div class="footer">
    <div class="mobile-footer">
      {{> social-buttons}}
    </div>
    <div class="copyright">
      <p>Copyright &copy; 2015 Samudra Harapan Bekti. All rights reserved. Proudly published with <a href="https://ghost.org">Ghost</a>.</p>
    </div>
  </div>

  {{! The main JavaScript file for Bootstrap Skeleton }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script>
  <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}

</body>

</html>
